:root {
    --ripple-color: #fff;
    --ripple-radius: 9999px;
    --ripple-duration: 600ms;
    --ripple-timing-function: linear;
}

.ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ripple span {
    position: absolute;
    border-radius: var(--ripple-radius);
    opacity: 0.5;
    background: var(--ripple-color);
    transform: scale(0);
    animation: ripple var(--ripple-duration) var(--ripple-timing-function);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
