.ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ripple span {
    position: absolute;
    border-radius: 9999px;
    opacity: 0.5;
    background: #fff;
    transform: scale(0);
    animation: ripple 600ms linear;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
